/* o padrao é row. se usar o flex-direction: row-reverse inverte os lados do start e end */
/* alinhar os itens a direita */
.flex-start{
    justify-content: flex-start;
}
/* alinhar os itens a esquerda */
.flex-end{
    justify-content: flex-end;
}
/* alinhar os itens ao centro eixo horizontal */
.center{
    justify-content: center;
}
/* space-between espaços entre os elementos */
/* space-around espaço igual ao redor dos elementos mas fica diferente a borda */
/* space-evenly espaço igual ao redor dos elementos iguais borda e por itens */
.between {
    justify-content: space-between;
}

/* alinha vertical cima */
.align-items {
    align-items: flex-start;
}
/* alinha vertical baixo */
.align-items {
    align-items: flex-end;
}
/* alinha vertical centro */
.align-items {
    align-items: center;
}

/* esticar para preencher a altura do container */
.align-stretch {
    align-items: stretch;
}


.align-baseline {
    align-items: baseline;
}
.align-baseline .item {
    flex: 1;
}
.align-baseline .item:first-child {
    padding-top: 20px;
}