* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
h1 {
    font-size: 20px;
    font-weight: 800;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    align-items: center;

    flex-wrap: wrap;
}
ul {
    display: flex;
    gap: 20px;
}
li, a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}
li a:hover {
    background: #5BC241;
    color: white;
}
.cadastro a{
    color: white;
    background: #5BC241;
    border-radius: 10px;
    padding: 10px 20px;
}
.atv{
    background: #5BC241;
}
@media(max-width: 710px) {
    header{
        flex-direction: column;
    }
    .logo {
        margin-bottom: 30px;
    }
}
@media(max-width: 560px) {
    header {
        display: block;
        text-align: center;
    }
    .logo {
        justify-content: center;
        margin-bottom: 100px;
    }
    ul {
        display: block;
    }
    li{
        margin-bottom: 30px;
    }
}