* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url('./images/bg-desktop.svg') center center no-repeat;
    background-color: hsl(257, 40%, 49%);
}
header {
    padding: 20px;
}
main {
    display: flex;
    padding: 20px 20px 0;
}
.descricao{
    margin-left: 30px;
    max-width: 500px;
    color: white;
    padding-top: 50px;
}
.descricao h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
}
.descricao p {
    margin-bottom: 30px;
}
.descricao a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    transition: 0.3s;
    padding: 15px 40px ;
}
.descricao a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
footer {
    text-align: right;
    padding: 0 20px;
}
.redes-sociais{
    padding: 5px;
}
.redes-sociais:hover{
    fill: hsl(300, 69%, 71%);
}