:root {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-size: 1.6rem;
    background-color: #F9F4FB;
    /* overflow: hidden; */
}
#hero {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 98vw;
    height: 100vh;

    #astronaut {
        width: 720px;
        height: 732px;
    }

    h1{
        color: #B52184;
        font-size: 5.8rem;
    }
    h2{
        color: #312D64;
        font-size: 3.2rem;
        margin-bottom: 17.8rem;
    }
    .title {
        margin-left: 10px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}
#cards {
    background-color: #312D64;
    display: flex;
    justify-content: space-around;
}
.card {
    width: 36.6rem;
    height: 44.8rem;
    background-color: #ffffff;
    margin: 6.4rem 6rem;
    border-radius: 2.4rem;
    padding: 32px 13px 72px 32px;

    h3 {
        color: #B52184;
        font-size: 3.5rem;
        font-weight: bold;
        margin: 40px auto 24px;
    }
    p{
        color: #312D64;
        font-size: 1.9rem;
    }
    .card-text {
        text-align: left;
    }
}
#contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    h2 {
        color: #B52184;
        font-size: 4.2rem;
        margin-bottom: 3rem;
    }
    .input-wrapper {
      border: none;  
      margin-bottom: 2.4rem;

    }
    form {
        padding-top: 9.5rem;
        padding-left: 10.9rem;
        margin-right: 1rem;
    }
    textarea {
        height: 12.6rem;
    }
    form input,
    form textarea {
        border: 0.15rem solid #312D64;
        border-radius: 1.6rem;
        padding: 1.2rem 1.6rem 1.6rem;
        font-weight: 600;
        font-size: 1.6rem;
        background: #F9F4FB;
        width: 59.2rem;
    }
    .button {
        background-color: #312D64;
        color: #ffffff;
        padding: 10.5px 16px;
        border-radius: 16px;
        cursor: pointer;
    }
    form input::placeholder {
        padding-left: 2.8rem;
        padding-top: 2rem;
    }
    #name {
        background: url(images/person.svg) no-repeat scroll 1.4rem 1.2rem;
    }
      
    #email {
        background: url(images/mail.svg) no-repeat scroll 1.4rem 1.2rem;
    }
}
footer {
    background-color: #312D64;
    height: 7.8rem;
    color: #ffffff;
    text-align: center;
    align-content: center;
}

@media (max-width: 1100px) {
    #hero {
        justify-content: initial;
        align-items: center;
        flex-direction: column;
        #astronaut {
            width: 464px;
            height: 470px;
        }
        .title {
            margin-top: 2rem;
            align-items: center;
        }
    }
    #cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 35.2rem;
        height: 35.7rem;
        margin: 3rem;
        padding: 26px auto 26px 26px;
    
        h3 {
            font-size: 2.9rem;
            margin: 20px auto 19px;
        }
        p{
            font-size: 1.6rem;
        }
    }
    #contact{
        form input,
        form textarea {
            padding: 1.2rem 1.6rem 1.6rem;
            width: 34rem;
        }
        form {
            padding-top: 7.8rem;
            padding-left: 3rem;
            h2 {
               font-size: 3.2rem; 
            }
        }
    }
}
@media (max-width: 1392px) {
    #hero {
        h1{
            font-size: 3.2rem;
        }
        h2{
            font-size: 2rem;
            margin-bottom: 17.8rem;
        }
    }
    .card {
        h3 {
            font-size: 2.9rem;
            margin: 20px auto 19px;
        }
        p{
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 430px) {
    #hero {
        justify-content: initial;
        align-items: center;
        flex-direction: column;
        #astronaut {
            width: 364px;
            height: 370px;
        }

        h1{
            font-size: 3.2rem;
        }
        h2{
            font-size: 2rem;
            margin-bottom: 17.8rem;
        }
    }
    #cards {
        flex-direction: column;
        justify-content: center;
    }
    #contact{
        form input,
        form textarea {
            padding: 1.2rem 1.6rem 1.6rem;
            width: 34rem;
        }
        form {
            padding-top: 7.8rem;
            padding-left: 3rem;
        }
        .stars {
            display: none;
        }
        .button{
            margin-bottom: 6.5rem;
        }
    }
}