* {
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
/* position: relative; no elemento pai */
.pintura {
    width: 335px;
    height: 450px;
    position: relative;
}
img {
    width: 100%;
}

/*  position: absolute; no elemento filho que 
    deseja ficar por cima do pai */
.title {
    color: white;
    position: absolute;
    left: 26px;
    bottom: 40px;
}
h2 {
    font-size: 30px;
    margin-bottom: 8px;
}
p {
    font-weight: 300px;
    font-size: 17px;
}

@media(max-width: 1440px) {
    .pinturas {
        max-width: 900px;
        margin: 30px 0;
    }
}