* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
body {
    background-color: rgba(196, 223, 214, 0.89);
}
section {
    width: 655px;
    min-height: 347px;

    box-shadow: 0 27px 49px -25 #00000052;
    background-color: #FCFCFC;

    margin: 0 auto;
    border-radius: 30px;
    position: relative;
    
    display: flex;
    align-items: center;

}
.img-lado {
    position: absolute;
    left: -90px;
}
h1 {
    font-size: 25px;
    margin-bottom: 14px;
    font-weight: 700;
}
p {
    font-size: 17px;
}
.itens {
    margin: auto 40px auto 228px;
    width: 387px;
    list-style-type: none;
}
.item {
    cursor: pointer;
    background-image: url('./imagens/icone-seta-fechada.png');
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    
}
.linha {
    border: 1px solid #D4D4D4;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resposta {
    font-size: 15px;
    line-height: 17px;
    display: none;
}
.pergunta {
    padding-bottom: 15px;
    transition: 0.2s ease;
    font-size: 17px;
    width: 90%;
    font-weight: 500;
}
.pergunta:hover {
    font-weight: 700;
}
.item.ativo .resposta {
    display: block;
}
.item.ativo {
    background-image: url('./imagens/icone-seta-aberta.png');
}